 
 align-items: stretch;
  height: 34.75px;
}
.nav a, .nav .pages {
  padding: 0 20px;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .3px;
}
.nav .pages {
  gap: 8px;
}
.nav .cta {
  background: #49e4fa;
  padding: 0;
}
.nav .cta + .cta {
  margin-left: 10px;
}
.nav .cta.btn-signup {
  width: 82.83px;
  height: 34.75px;
}
.nav .cta.btn-login {
  width: 75.34px;
  height: 34.75px;
}
 